@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

#root {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  background-color: #1f1f1f;
}

.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-behavior: smooth;
}


/* start the event location design */

.text-decoration-1{
  background: linear-gradient(to right, #03BAE4, #A036FC);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  text-shadow: 1px 1px 14px #03BAE4;
  @apply mt-4 text-[22px]
}

.text-decoration-2{
  @apply font-bold text-[45px] mt-2 tracking-wide
}
.box{
  color: white;
  background-color: rgba(255, 255, 255, 0.08);
  @apply relative p-4 md:p-16 rounded-[30px] mx-auto mt-6 w-fit h-fit items-center justify-center flex flex-col gap-10 md:flex-row 
}

.bg-image{
  background-image: url(/event_location/main.png);
  position: relative;
  overflow: hidden;
  display: block;
  width:250px ;
  height: 220px;
  @apply  rounded-[26px]
}

.bg-image:hover{
  background-image: url(/event_location/second.png);
}

.btn-div{
  @apply bg-gradient-to-r mt-4 from-[#03BAE4] to-[#A036FC] w-fit h-fit rounded-[10px]
}

.text-decoration{
  background: linear-gradient(to right, #03BAE4, #A036FC);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  @apply text-[20px]
}

.text-decoration:hover{
  color: white
}

.btn{
 @apply  px-4 py-2 bg-[#1f1f1f] m-1 text-[20px] transition-all duration-500 rounded-[10px]
}
.btn:hover{
  @apply bg-gradient-to-r from-[#03BAE4] to-[#A036FC]
}
.logo-syphax {
  @apply w-full z-0 h-full;
  filter: blur(0);
  transition: filter 0.5s ease-in-out;
}

.blurred {
  filter: blur(18px);
}
