@tailwind base;
@tailwind components;
@tailwind utilities;


/* start the event location design */

.text-decoration-1{
    background: linear-gradient(to right, #03BAE4, #A036FC);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
    text-shadow: 1px 1px 14px #03BAE4;
    @apply mt-4 text-[22px]
  }
  
  .text-decoration-2{
    @apply font-bold text-[38px] md:text-[45px] mt-2 tracking-wide  uppercase
  }
  .box{
    color: white;
    background-color: rgba(255, 255, 255, 0.08);
    @apply relative p-4 md:p-16 rounded-[30px] mx-auto mt-6 w-fit h-fit items-center justify-center flex flex-col gap-10 md:flex-row 
  }
  
  .bg-image{
    background-image: url(/event_location/main.png);
    position: relative;
    overflow: hidden;
    display: block;
    width:250px ;
    height: 220px;
    @apply  rounded-[26px]
  }
  
  .bg-image:hover{
    background-image: url(/event_location/second.png);
  }
  
  .btn-div{
    @apply bg-gradient-to-r md:mt-8 mt-4 from-[#03BAE4] to-[#A036FC] w-fit h-fit rounded-[10px]
  }
  
  .text-decoration{
    background: linear-gradient(to right, #03BAE4, #A036FC);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
    @apply text-[20px]
  }
  
  .text-decoration:hover{
    color: white
  }
  
  .btn{
   @apply  px-4 py-2 bg-[#1f1f1f] m-1 text-[20px] transition-all duration-500 rounded-[10px]
  }
  .btn:hover{
    @apply bg-gradient-to-r from-[#03BAE4] to-[#A036FC]
  }
  .logo {
    @apply w-full z-0 h-full  ;
    filter: blur(0);
    transition: filter 0.5s ease-in-out;
  }
  
  .blurred {
    filter: blur(18px);
  }

  .box2{
    color: white;
    background-color: rgba(255, 255, 255, 0.08);
    @apply relative p-6 md:p-16 rounded-[30px] mx-auto mt-6 w-fit h-fit items-center justify-center flex flex-col gap-10 md:flex-row 
  }
  